.nav-link {
  /*font-weight: bold;*/
  /*text-transform: uppercase;*/
  tracking-wide: 1px;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: black;
}

/* Style du lien actif */
.active-link {
  /*color: rgba(71, 15, 15, 0.8) !important; !* Change la couleur du lien actif *!*/
  border-bottom: 2px solid rgba(0, 0, 0, 0.8); /* Ajoute un effet de soulignement */
  padding-bottom: 2px;
}
.nav-link{
  color: black;
}

a{
  font-size: 14px;
}
